<!DOCTYPE html>
<html>
<head>
    <title>Operator Console</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>

<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket connection:</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <h5>{{ DateTime }}</h5>
        <h5>Capacity: {{ Capacity }}, Occupancy: {{ Occupancy }}, Availability: {{ Availability }}</h5>
            <div v-bind:id="NorthTicket">{{ NorthTicket }}</div>
            <div v-bind:id="NorthBarrier">{{ NorthBarrier }}</div>
            <h5 v-if="NorthDelayedEntry" style="color:red">Delayed entry!</h5>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Incoming Messages</th>
                </tr>
                </thead>
                <tbody id="replies">
                </tbody>
            </table>
        </div>
    </div>
    <div id="entry-consoles" class="container" ref="opentries">
    </div>
    <div id="exit-consoles" class="container" ref="opexits">
    </div>
    
</div>

<script type="text/x-template" id="entry-console-display"  
    <div class="entrystand">
        <div class="col-md-6">
            <h4>Entry Stand</h4>
            <h5>Location: {{ location }}</h5>
            <h5>Ticket: {{ ticket }}</h5>
            <h5>Barrier: {{ barrier }}</h5>
            <h5 v-if="NorthDelayedEntry" style="color:red">Delayed entry!</h5>
            <button id="NorthIssueTicket" class="btn btn-primary" type="submit">Issue Ticket</button>
            <button id="NorthOpenBarrier" class="btn btn-primary" type="submit">Open Barrier</button>
        </div>
    </div>
</script>

<script type="text/x-template" id="exit-console-display"    
    <div class="exitstand">
        <div class="col-md-6">
            <h4>Exit Stand</h4>
            <h5>Ticket: {{ Lane1Ticket }}</h5>
            <h5>Exit Deadline: {{ Lane1ExitDeadline }}</h5>
            <h5>Barrier: {{ Lane1Barrier }}</h5>
            <button id="Lane1OpenBarrier" class="btn btn-primary" type="submit">Open Barrier</button>
            <div v-show="Lane1TardyExit" class="row">
                <h5 style="color:red">Missed exit deadline!</h5>
                <h5>Additional charge: {{ Lane1AdditionalCharge }}</h5>
                <h5>Overstay: {{ Lane1Overstay }} minutes</h5>
                <button id="Lane1TardyCancel" class="btn btn-primary" type="submit">Cancel Extra</button>
                <button id="Lane1TardyPaid" class="btn btn-primary" type="submit">Extra Paid</button>
            </div>
            <div v-show="Lane1UnpaidStayExit" class="row">
                <h5 style="color:red">Unpaid stay!</h5>
                <h5>Charge: {{ Lane1Charge }}</h5>
                <h5>Duration: {{ Lane1Duration }} hours</h5>
                <button id="Lane1UnpaidCancel" class="btn btn-primary" type="submit">Cancel Extra</button>
                <button id="Lane1UnpaidPaid" class="btn btn-primary" type="submit">Extra Paid</button>
            </div>
        </div>
    </div>
</script>

</body>
<script src="/vue.js"></script>
<script src="/OperatorConsole.js"></script>

</html>